p{
	line-height: 30px;

}
header, #about, #history, #contact, .btn, #lear-more, footer{
	color: white;
}
#features, #blog{
	color: #555b67;
}
.jumbotron, .btn{
	border-radius: 0px;
}
.btn{
	background: #f52257;
}

/*BACKGROUND*/
header{
	background: url(../images/bg_header.jpg);
	background-size: cover;
}
#about{
	background: url(../images/bg_nuage.jpg);
	background-size: cover;
}
#history{
	background: url(../images/bg_appareil_photo.jpg);
	background-size: cover;
}
#contact{
	background: url(../images/bg_newsletter.jpg);
	background-size: cover;
}
footer{
	background: #24323b;
}

/*HOME*/

/*nav*/
/*MANQUANTE*/
/*jumbotron*/
.jumbotron{
	background-color: transparent;
	text-align: center;
}
.jumbotron span{
	font-weight: bold;
}
.bouton-align{
	display: flex;
	justify-content: center;
	align-items: center;
}

#learn-more{
	background: #36c4c5;
	margin-right: 15px;
}

/*FEATURES*/
#features{
	text-align: center;
}

/*ABOUT*/
#about-right{
	background: rgba(54, 196, 197, 0.5);
	padding: 50px 30px;
}
.boxes{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;

}
.about-boxes{
	border: 1px solid white;
	padding: 30px 30px;
	margin-right: 30px;
}

/*BLOG*/
#img-blog{
	width: 475px;
	margin-top: 30px;
	margin-bottom: 20px;
}

/*HISTORY*/
#history-left{
	background: rgba(54, 196, 197, 0.7);
}

/*PHOTOS*/
#photo-1{
	width: 760px;
	height: 300px;
	padding-right: 10px;
	margin-top: 10px;
}
#photo-2{
	width: 380px;
	padding: 10px 0 10px 0;
}
#photo-3{
	width: 380px;
	height: 415px;
	padding: 10px 10px;
}
#photo-4{
	width: 380px;
	padding: 0px 10px 10px 10px;

}
#photo-5{
	width: 760px;	
	padding-right: 10px;
}
#photo-6{
	width: 380px;
	height: 776px;	
	margin-bottom: 10px;
	margin-top: 10px;

}
#photo-7{
	width: 380px;
}

/*PARTENAIRES*/
.logo-partenaires{
	text-align: center;
}
.img-partenaires{
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

/*CONTACT*/
#contact input{
	width: 300px;
}
/*FOOTER*/
.fa-facebook, .fa-twitter{
	color: #36c4c5;
	border: 3px solid #36c4c5;
}
.reseaux-sociaux{
	border: 3px solid white;
	border-radius: 50%;
	padding: 5px 5px;
	margin-top: 50px;
}
footer span{
	color: #36c4c5;
}